<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="style.css">
<script src="easteregg.js"></script>
<div class="header">
	<div class="logo" ondblclick="easteregg(); return false;">
		<img src="favicon.ico" style="display: inline-block;">
	</div>
	<div class="logoText">TurboWafflz</div>
	<div id="banner"><div class="version">2.1</div></div>
</div>
