/* Ubuntu font */
@font-face {
	font-family: Ubuntu;
	src: url("Ubuntu-R.ttf");
}
@font-face {
	font-family: Ubuntu;
	font-weight: bold;
	src: url("Ubuntu-B.ttf");
}
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	src: url("Ubuntu-RI.ttf");
}
@font-face {
	font-family: Ubuntu;
	font-weight: bold;
	font-style: italic;
	src: url("Ubuntu-BI.ttf");
}
@font-face {
	font-family: Ubuntu;
	font-weight: lighter;
	src: url("Ubuntu-L.ttf");
}
@font-face {
	font-family: Ubuntu;
	font-weight: lighter;
	font-style: italic;
	src: url("Ubuntu-LI.ttf");
}
@font-face {
	font-family: UbuntuMono;
	font-weight: bold;
	src: url("UbuntuMono-B.ttf");
}
@font-face {
	font-family: UbuntuMono;
	font-style: italic;
	src: url("UbuntuMono-RI.ttf");
}
@font-face {
	font-family: UbuntuMono;
	font-weight: bold;
	font-style: italic;
	src: url("UbuntuMono-BI.ttf");
}
@font-face {
	font-family: UbuntuMono;
	src: url("UbuntuMono-R.ttf");
}
/*Make scrollbar less hideous*/
::-webkit-scrollbar{
	width:3pt;
}
::-webkit-scrollbar-track{
	background: white;;
}
::-webkit-scrollbar-thumb{
	background: #313236;
	border-radius: 10px;
}
body {
	font-family: Ubuntu;
	margin: auto;
	background: white;
	position: relative;
	color: #000000;
}
code{
	background-color: #073642;
	color: #eee8d5;
	font: UbuntuMono;
	border: 2px solid black;
	border-radius: 7px;
	padding: 5px 5px;
	margin: 5px 0px;
	display: inline-block;
}
.header{
	text-align: left;
	align-content: center;
	align-items: center;
	margin: 0px;
	background-color: #353640;
	width: 100%;
}
.logo{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	border: 0px solid orange;
	border-radius: 0px 0px 7px 0px;
	padding: 5px;
	font-size: 30px;
	font-weight: bold;
	color: white;
	margin: 0px 0px 5px 0px;
	height: 50px;
}
.logoText{
	display: inline-block;
	position: absolute;
	vertical-align: middle;
	text-align: left;
	border: 0px solid orange;
	border-radius: 0px 0px 7px 7px;
	padding: 5px;
	font-size: 30px;
	font-weight: bold;
	background: #444549;
	color: white;
	margin: 0px 0px 5px 2px;
}
#banner{
	position: absolute;
	display: inline-block;
	top: 0;
	right: 0;
	background: #444549;
	color: white;
	padding: 2px;
	border-radius: 0px 0px 0px 7px;
}
.navbar {
	background-color: #313236;
	padding: 0px;
	width: 100%;
	max-width: 100%;
}
.navbar a {
	color: #aaa;
	display: inline-block;
	font-size: 15px;
	padding: 10px;
	margin: 2px 1px;
	border: 2px solid white;
	border-radius: 7px;
	text-decoration: none;
}

.navbar a:hover {
	color: #ffffff;
	background: #444549;
}
.title{
	background: #444549;
	color: white;
	font-weight: bold;
	max-width: 250px;
	padding: 3px;
	border-radius: 0px 0px 7px 0px;
	font-size: 14pt;
}
.content{
	position: relative;
}
.bodyText{
	padding: 7px;
}
.fancyButtons{
	background: #313236;
	position: fixed;
	bottom: 0;
	padding: 5px;
	border-radius: 7px 0px 0px 0px;
	right: 0;
}
#tryOnline{
	background: skyblue;
	color: black;
	border-radius: 7px;
	border-width: 0px;
	font-size: 13pt;
	padding: 2px;
	text-decoration: none;
	cursor: pointer;
}
#download{
	background: green;
	color: white;
	border-radius: 7px;
	border-width: 0px;
	font-size: 13pt;
	padding: 2px;
	text-decoration: none;
	cursor: pointer;
}
#viewSource{
	background: blue;
	color: white;
	border-radius: 7px;
	border-width: 0px;
	font-size: 13pt;
	padding: 2px;
	text-decoration: none;
	cursor: pointer;
}
#submitButton{
	background: blue;
	color: white;
	border-width: 0px;
	border-radius: 7px;
	font-size: 13pt;
	padding: 2px;
	text-decoration: none;
	cursor: pointer;
}
.listing{
	position: relative;
	border: 5px solid #313236;
	border-radius: 7px;
	padding: 5px;
	margin: 0px 0px 5px 0px;
}
.listingTitle{
	font-weight: bold;
	margin: 0px 0px 5px 0px;
}
.projectStatus{
	background:  #313236;
	position: absolute;
	right: 0px;
	top: 0px;
	border-color: #313236;
	border-radius: 0px 0px 0px 7px;
	padding: 0px 0px 3px 3px;
	font-weight: bold;
	font-size: 12pt;
}
.version{
	display: inline-block;
	background-color: coral;
	color: white;
	border-radius: 7px;
	padding: 2px;
}
.activeStatus{
	display: inline-block;
	background: green;
	color: white;
	border-radius: 7px;
	padding: 2px;
}
.idleStatus{
	display: inline-block;
	background: yellow;
	color: black;
	border-radius: 7px;
	padding: 2px;
}
.discontinuedStatus{
	display: inline-block;
	background: red;
	color:white;
	border-radius: 7px;
	padding: 2px;
}
.betaStatus{
	display: inline-block;
	background: mediumpurple;
	color: white;
	border-radius: 7px;
	padding: 2px;
}
.onPageStatus{
	display: inline-block;
	background:  #313236;
	position: absolute;
	right: 0;
	top: 0;
	border-color: #313236;
	border-width: 20px;
	border-radius: 0px 0px 0px 7px;
	padding: 3px;
	font-weight: bold;
}
.copyright{
	position: fixed;
	display: inline-block;
	left: 0;
	bottom: 0;
	height: 30px;
	width: auto;
	background: rgba(255, 165, 0, 0);
	border-radius: 0px 7px 0px 0px;
}
.copyrightText{
	border-radius: 0px 7px 0px 0px;
	display: inline-block;
	position: fixed;
	left: 0;
	bottom: 0;
	font-family: Ubuntu;
	background: #313236;
	padding: 5px;
	height: 20px;
	color: white;
	width: auto;
	vertical-align: middle;
}
.info{
	background: #313236;
	color: white;
	border-radius: 7px;
	padding: 5px;
}
.screenshot{
	width:100%;
}

.bigButton{
	border: 2px solid grey;
	border-radius: 7px;
	margin: 2px;
	cursor: pointer;
}
.autocomplete {
        /*the container must be positioned relative:*/
        position: relative;
        display: inline-block;
        border: 1px solid #d0d0d0;
        padding: 1px 3px;
        border-radius: 6px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
        font-size: 16px;
        width: auto;
    }
    #githubnames{
        border: 0;
        display: inline-block;
        padding: 5px;
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }
    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }
    .autocomplete-items div:hover {
        /*when hovering an item:*/
        background-color: #e9e9e9;
    }
    .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
    .autocomplete span.tag {
  cursor: pointer;
  display: block;
  float: left;
  color: #ffffff;
  padding: 3px 10px;
  padding-right: 30px;
  margin: 4px;
  margin-right: 2px;
  background-image: linear-gradient(to bottom, #1da7ee, #178ee9);
  background-color: #1b9dec;
  border-radius: 3px;
}
.autocomplete span.tag:hover {
  opacity: 0.7;
}

.autocomplete span.tag:after {
  position: absolute;
  content: "×";
  padding: 0 4px;
  margin: 3px 0 10px 7px;
  font-size: 12px;
  font-weight: bold;
  border-left: 1px solid #0073bb;

}
